:root {
    --text-color: red;
    --button-color: rgb(0, 201, 0);
    --puzzle-block-color: lightblue;
    --border-color: rgba(0, 201, 0, 0.233);
}
body {
    background-color:black;
}
#shadow {
    width:960px;
    height: 960px;
    margin: auto;
    position: absolute;
    background-image: radial-gradient(transparent, #000000b6);
}
#panel {
    width:960px;
    height: 960px;
    margin: auto;
    background-color: #303030;
    box-shadow: 0px 0px 1px 10px rgba(0, 0, 0, 0.336) inset;
}

#access {
    position: relative;
    width: 420px;
    height: 69px;
    background-color: #222222;
    margin: auto;
    top: 360px;
    box-shadow: 0 0 10px black inset;
    border: 2px solid rgba(0, 0, 0, 0.308);
    /* box-shadow: 0 0 20px 0px var(--border-color); */
}

#accessText{
    font-family: "Aldrich", sans-serif;
    color: var(--text-color);
    text-shadow: 0 0 6px var(--text-color);
    position: relative;
    margin-left: 35px;
    margin-top: 3px;
    height: 15px;
    line-height:12px;
    padding-top: 5px;
    padding-left: 4px;
    margin-bottom: 5px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0 0 10px black inset;
    width:350px;
    overflow: hidden;
    /* display: none; */
}

#access div button {
    position: relative;
    margin: auto;
    border: none;
    height: 32px;
    width:32px;
    border-radius: 100%;
    background-color: var(--button-color);
    box-shadow: 0 0 6px 1px var(--button-color);
    cursor: pointer;
    
}

#access #accessButtonDiv {
    width: fit-content;
    margin: auto;
    /* display: none; */
}

#puzzleBlock {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--puzzle-block-color);
    box-shadow: 0 0 6px 1px var(--puzzle-block-color);
    display: none;
    z-index: 1;
}

#puzzleHole {
    position: absolute;
    top: 30px;
    left: 380px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px 0 black inset;
    display: none;
}