:root{
    --form-width: 750px;
}
html {
    scroll-behavior: smooth;
}
a {
    color: #808080;
    text-decoration: underline;
}

a:hover {
    color: rgb(197, 0, 0);
}

body {
    font-family: 'Cairo';
    background-color: #191919;
    /* color: #606060; */
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.336);
    color: #808080;
}

#logo {
    width: 80px;
    position: relative;
    top: 0px;
    
    /* margin-left: -8px; */
}
.nav-item {
    text-decoration: none;
}

.navbar {
    position: fixed;
}
#navBar {
    background-color: #191919;
    height:100px;
    width:100%;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.26);
    z-index: 1;
}

.navbarGroup {
    font-size: 20pt;
    margin-right: 1em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
}



#header #headerImage{
    position: absolute;
    width:100%;
    height: 370px;
    background-image: url("./header.jpg");
    background-repeat: repeat-y;
    filter:blur(4px);
    background-size: cover;
    background-position: 0% 0%;
    background-color: black;
    z-index: -1;
}

#header {
    position: relative;
    top: 100px;
    width:100%;
    height: 370px;
    z-index: -1;
}

.whitePill {
    position:relative;
    top: 35px;
    background-color: #ffffff4f;
    margin: auto;
    border-radius: 100px;
    /* margin-top: 25px; */
}

.whitePill h1{
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px #000000bd;
}
.container {
    background-color: #303030;
    position:relative;
    top: 100px;
    height:max-content;
    border-radius: 78px 78px 50px 50px;
    padding: 78px;
    margin-bottom: 100px;
    font-size: 20pt;

}

.writing {
    text-indent: 2em;
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.336);
    color: #808080; */
}

.title {
    font-size: 40pt;
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 60px;
    text-shadow: 2px 2px 1px black;
}

.col-md img {
    max-width: 300px;
    width: 300px;
    margin: auto;
    transition-duration: 0.25s;
}
.block {
    /* width:100%; */
    margin-bottom: 40px;
    /* padding:40px; */
    border-radius: 15px;
    /* border: 2px solid white; */
    display:flex;
    padding:30px;
    /* padding: 0 20px; */
    /* overflow:hidden; */
}
.block:hover{
    background-color:rgba(255, 255, 255, 0.055);
    transition-duration: 0.1s;
}
.blockBody {
    min-height: 180px;
    /* min-width: 650px; */
    width: 100%;
    float:left;
    display:block;
    position:relative;
    margin-left:24px;
    /* background-color:orange; */
}
.blockThumb {
    max-width:320px;
    height: 180px;
    border-radius: 8px;
    /* margin: 0 auto; */
    position: relative;
    display:block;
    float:left;
    box-shadow: rgba(0, 0, 0, 0.315) 4px 4px 4px;
}
h3.blockTitle{
    text-align: left;
    margin: none;
    color: lightgray;
}
p.blockText {
    font-size: 16px;
    min-height: 88px;
    overflow-y: hidden;
    overflow-x: hidden;
}

a.block-btn {
    color: rgb(218, 218, 218);
    text-shadow: none;
    padding: 0px 6px;
    border-radius: 8px;
    height: 50px;
    text-decoration: none;
    
}
a.block-btn:hover {
    cursor: pointer;
    color:white;
}
a.blockSiteButton{
    background-color:rgb(197, 0, 0);
    position: absolute;
    text-decoration: none;
    /* top: 5px; */
    bottom: -10px;
    left: 12px;
    line-height:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    height: 25px;
}
a.blockSiteButton:hover{
    background-color:rgb(231, 0, 0);
}
div.block-git-btns{
    display: block;
    width: max-content;
    /* background-color: green; */
    position: absolute;
    bottom: -10px;
    right: 20px;
}
a.blockGitButton {
    font-size: 25px;
    text-align: center;
    /* margin:auto; */
    line-height: 40px;
    margin-left: 0px;
    margin-top: 0;
    width: 40px;
    height: 40px;

    background-color:rgb(17, 17, 17);
}
a.blockGitButton:hover {
    background-color:rgb(66, 66, 66);
}
.block-git-title {
    width: 600px;
    position: absolute;
    bottom: 34px;
    right: 8px;
    font-size: 14px;
    text-align: right;
}
.block-git-btn-span {
    position: absolute;
    right: 0;
    top: 65px;
    font-size: 15px;
    color: white;
    width: 650px;
    text-align: right;
}

.card-body {
    background-color: #404040;
    color: #808080;
}
.card-img-top {
    opacity: 50%;
}
.card {
    /* width: 300px; */
    background-color: transparent;
    border: none;
    border-color: black;
    border-radius: 80px;
    overflow: hidden;
}
.card:hover .card-body{
    background-color: #606060;
    color: white;
    transition-duration: 0.25s;
}
.card:hover .card-img-top{
    opacity: 100%;
    transition-duration: 0.25s;
}
.card:hover .btn-link {
    opacity: 100%;
    transition-duration: 0.25s;
}
.btn-link:hover {
    opacity: 100%;
    transition-duration: 0.25s;
}
.btn-link {
    text-decoration: none;
    transition-duration: 0.25s;
    opacity: 50%;
    display: block; 
    width: fit-content;
    margin: auto;
    position: relative;
    background-color: rgb(231, 0, 0);
    color: white;
}
.btn-link:hover {
    color:white;
    text-decoration: none;
    background-color: rgb(197, 0, 0);
}
.github-btn {
    background-color:rgb(51, 51, 51);
    margin-bottom: 8px;
}
.github-btn:hover {
    background-color: rgb(24, 24, 24);
}
.site-btn-side {
    margin-top: 20px;
}

.blockThumbMobile{
    width:320px;
    height:180px;
    margin: auto;
    display: none;
    margin-bottom:10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.39) 4px 4px 4px;
}
.contactLinkImg{
    width:100%;
}

.contactLink{
    text-align: center; 
    display: block; 
    margin: auto;
}

.resume-logo{
    width: 100px;
    margin: auto; 
    margin-bottom: 20px; 
    display: block;
}

.resume-group {
    vertical-align: auto; 
    position: relative; 
    top: 60px;
}

.resume-link{
    display:block;
    position:relative;
    margin:auto;
    width:fit-content;
    text-decoration: none;
}
.resume-link:hover{
    text-decoration:none;
}

.form-email{
    width: var(--form-width); 
    background-color: #191919; 
    border-color: transparent; 
    color: #808080; 
    font-size: 24pt; 
    height: 35px; 
    padding: 4px;
}
.form-message{
    width: var(--form-width); 
    background-color: #191919; 
    border-color: transparent; 
    color: #808080; 
    font-size: 24pt; 
    padding: 4px;
}
.form-send-btn{
    float:right;
}
.contact-form{
    text-align: center; 
    width:var(--form-width);
    margin:auto;
    margin-top: 20px;
}
.form-paragraph{
    text-align: center;
    font-size: 25px;
    width:var(--form-width);
    margin:auto;
}
.contact-title{
    margin-top: 60px; 
    margin-bottom: 10px;
}

@media (max-width: 1199px) { 
    .col-md img {
        position: relative;
        width: 225px;
        margin: auto;
    }
}
@media (max-width: 992px) {
    :root{
        --form-width: 500px;
    }
    .blockThumb{display: none;}
    .blockThumbMobile{display:block;}
    h3.blockTitle{text-align:center;}
    .col-sm-8 {
        width: 100%;
        margin: auto;
    }
    .col-md {
        position: relative;
        width: 100%;
        margin: auto;
        /* display: none; */
    }
    .col-md img {
        margin: auto;
        width:100%
    }
}

 @media (max-width: 767px) { 
    :root{
        --form-width:400px;
    }
    .block {
        padding:10px;
        padding-bottom: 30px;
        padding-left: 0;
    }
    .navbarGroup {
        display: none;
    }
    .col-md img {
        display:none;
    }
    .col-sm-8 p{
        font-size: 15pt;
        /* box-shadow: 4px 4px 6px black; */
    }

    .contactLinkImg{
        display:none;
    }
    .contactLink{
        position: relative;
        display: block;
        top: -20px;
        margin-bottom: 20px;    
    }
    .resume-group{
        position: relative;
        top: -40px;
    }
    .contact-title{
        margin-top:0px;
    }

}